@import url("https://fonts.google.com/specimen/Roboto+Mono");

:root {
  --navy-blue: #0a101d;
  --light-gray: #dadada;
  --baby-blue: #87ceeb;
}
body {
  background-color: var(--navy-blue);
  color: var(--light-gray);
  font-family: "Roboto Mono", monospace;
  color: var(--light-gray);
  cursor: cell;
}

div {
  font-family: "Roboto Mono", monospace;
}

h1 {
  color: var(--baby-blue);
}

.button {
  background-color: var(--baby-blue);
  color: var(--light-gray);
}

a {
  cursor: grab;
  color: var(--light-gray);
}

/* TOP NAVBAR START */
.nameHeader {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 2;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.navHeader {
  display: grid;
  width: 100%;
  align-items: center;
  justify-content: end;
}

.navContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
}

#navSkills {
  display: grid;
  justify-content: center;
}

.navItem {
  margin-left: 5px;
}

/* TOP NAVBAR END */

/* First page styling */
#headerLink {
  color: var(--baby-blue);
  text-decoration: none;
}
.nameHeader {
  margin: 31.65vh 0 44.31vh;
}
#name {
  font-size: 7vh;
}

/* Second page styling */
.secondPage {
  margin: 44.31vh 18vh;
  display: grid;
  align-items: center;
  justify-content: center;
  max-width: 120vh;
}

.secondPage h1 {
  font-size: 4vh;
}

.secondPage div {
  font-size: larger;
}

/* Third page styling */
.thirdPage {
  margin: 44.31vh 18vh;
  display: grid;
  align-items: center;
  max-width: 120vh;
}

.thirdPage h1 {
  font-size: 4vh;
}

.thirdPage div {
  font-size: larger;
}

/* Fourth page styling */

.fourthPage {
  margin: 44.31vh 18vh;
  display: grid;
  align-items: center;
  max-width: 120vh;
}

.fourthPage h1 {
  font-size: 4vh;
}

.fourthPage div {
  font-size: larger;
}

.contactContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.contactBox {
  grid-row: 2;
}

.contactBox input {
  background-color: var(--navy-blue);
  color: var(--baby-blue);
  max-width: 50vh;
  margin: 0.5vh;
}

#formSubmit,
#formClear {
  width: 10vh;
}

.contactText {
  grid-column: 1;
}

#formName {
  height: 7vh;
  width: 30vh;
}

#email {
  width: 30vh;
  height: 7vh;
}
#message {
  width: 30vh;
  height: 20vh;
}

footer {
  position: fixed;
  top: 97vh;
  margin-left: 94%;
}

@media screen and (min-width: 790px) {
  #aboutMe {
    scroll-margin-top: 35vh;
  }

  #skills {
    scroll-margin-top: 35vh;
  }

  #contact {
    scroll-margin-top: 35vh;
  }

  .contactContainer {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: auto;
  }

  .contactText {
    grid-row: 1;
  }

  .contactBox {
    grid-row: 1;
  }
}

@media screen and (min-width: 590px) {
  #formName {
    height: 7vh;
    width: 70vh;
  }

  #email {
    width: 70vh;
    height: 7vh;
  }
  #message {
    width: 70vh;
    height: 20vh;
  }
}
