@import url("https://fonts.google.com/specimen/Roboto+Mono");

:root {
  --navy-blue: #0a101d;
  --light-gray: #dadada;
  --baby-blue: #87ceeb;
}

* {
  scroll-behavior: smooth;
}

body {
  background-color: var(--navy-blue);
  color: var(--light-gray);
  font-family: "Roboto Mono", monospace;
  color: var(--light-gray);
  cursor: cell;
}

div {
  font-family: "Roboto Mono", monospace;
  font-size: 18px;
}

h1 {
  color: var(--baby-blue);
}

.button {
  background-color: var(--baby-blue);
  color: var(--light-gray);
}

a {
  cursor: grab;
  color: var(--light-gray);
}

.secondPage,
.thirdPage,
.fourthPage,
.fifthPage,
.sixthPage {
  margin: 30.31vh 0;
}

/* TOP NAVBAR START */
.navHeader {
  display: grid;
  justify-content: right;
}

.navContainer {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
}

.navItem {
  margin-left: 16px;
  text-align: center;
}

/* TOP NAVBAR END */

/* First page styling */
.nameHeader {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 2;
  width: 100%;
  align-items: center;
  justify-content: center;
}
#headerLink {
  color: var(--baby-blue);
  text-decoration: none;
}
.nameHeader {
  margin: 31.65vh 0 44.31vh;
}
#name {
  font-size: 7vh;
}

/* Second page styling */
.secondPage {
  display: grid;
  align-items: center;
  justify-content: center;
  max-width: 120vh;
}

.secondPage h1 {
  font-size: 4vh;
}

.secondPage div {
  font-size: larger;
}

/* Third page styling */
.thirdPage {
  display: grid;
  align-items: center;
  max-width: 120vh;
}

.thirdPage h1 {
  font-size: 4vh;
}

.thirdPage div {
  font-size: larger;
}

/* fourth page styling */
.fourthPage {
  display: grid;
  align-items: center;
  max-width: 120vh;
}

.fourthPage h1 {
  font-size: 4vh;
}

.fourthPage div {
  font-size: larger;
}

/* fifth page styling */
.fifthPage {
  display: grid;
  align-items: center;
  max-width: 120vh;
}

.fifthPage h1 {
  font-size: 4vh;
}

.fifthPage div {
  font-size: larger;
}

/* sixth page styling */

.sixthPage {
  display: grid;
  align-items: center;
  max-width: 120vh;
}

.sixthPage h1 {
  font-size: 4vh;
}

.sixthPage div {
  font-size: larger;
}

.contactContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.contactBox {
  grid-row: 2;
}

.contactBox input {
  background-color: var(--navy-blue);
  color: var(--baby-blue);
  max-width: 50vh;
  margin: 0.5vh;
}

#formSubmit,
#formClear {
  width: 10vh;
}

.contactText {
  grid-column: 1;
}

#formName {
  height: 7vh;
  width: 30vh;
}

#email {
  width: 30vh;
  height: 7vh;
}
#message {
  width: 30vh;
  height: 20vh;
}

footer {
  position: fixed;
  bottom: 1vh;
  right: 1vh;
}

@media screen and (min-width: 790px) {
  #contact {
    padding-top: 10%;
  }
  #aboutMe,
  #skills,
  #education,
  #experience {
    padding-top: 5%;
  }
  .contactContainer {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: auto;
  }

  .contactText {
    grid-row: 1;
  }

  .contactBox {
    grid-row: 1;
  }
}

@media screen and (min-width: 590px) {
  #formName {
    height: 7vh;
    width: 70vh;
  }

  #email {
    width: 70vh;
    height: 7vh;
  }
  #message {
    width: 70vh;
    height: 20vh;
  }

  .navHeader {
    display: grid;
    justify-content: right;
  }

  .navContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .navItem {
    margin-left: 16px;
    text-align: center;
    font-size: 18px;
  }

  .navButton {
    font-size: 18px;
  }

  div {
    font-size: 20px;
  }

  .secondPage,
  .thirdPage,
  .fourthPage,
  .fifthPage,
  .sixthPage {
    margin: 44.31vh 18vh;
  }
}
